.header {
  background-color: darkslategray;
}

.hourly-carousel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 10px;
  padding: 12px 0;
}

.weather-card {
  min-width: 100px;
  flex-shrink: 0;
}



.compass-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compass {
  position: relative;
  width: 120px;
  height: 120px;
  border: 2px solid #ccc;
  border-radius: 50%;
}

/* Cardinal directions */
.compass::before {
  content: "N";
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.compass::after {
  content: "S";
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

/* Add E/W manually if you want cleaner control */

.needle {
  position: absolute;
  width: 2px;
  height: 50%;
  background: red;
  
  left: 50%;
  transform-origin: bottom center;
  transform: rotate(0deg);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
